/Microsoft.MixedReality.WebRTC.Unity
/Microsoft.MixedReality.WebRTC.Unity.meta
/Microsoft.MixedReality.WebRTC.Unity.Editor
/Microsoft.MixedReality.WebRTC.Unity.Editor.meta
/Microsoft.MixedReality.WebRTC.Unity.Examples
/Microsoft.MixedReality.WebRTC.Unity.Examples.meta